@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --font-regular: 400;
  --font-bold: 700;
}

html,
body {
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin-top: 10vh;
  background-color: rgb(28, 30, 32);
  background-image: url(img/BG.png);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.socials {
  position: absolute;
  top: -2rem;
  right: 2.5rem;
}

.socials ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.socials ul li {
  padding: 0;
}

.socials ul li a {
  display: inline-block;
  padding: 0.35rem;
}

.socials ul li a img {
  width: 80%;
}

main {
  height: 75vh;
  width: 50vw;
  color: #fff;
  /* background: green; */
}

.stories {
  background-color: rgb(40, 43, 47);
  padding: 2rem;
  height: calc(100% - 4rem);
  border-radius: 3px;
}

aside {
  height: 85vh;
  margin-top: 10vh;
  width: 50vw;
  color: #fff;
  background: url(img/Glare.png) no-repeat,
    url("img/Bands Graphic.png") no-repeat;
  /* background: red; */
  background-size: 50%, 100%;
  background-position: 450px top, bottom center;
  /* background-repeat: no-repeat; */
}

.header {
  display: grid;
  grid-template-areas: "h2" "h1" "button";
  row-gap: 0px;
  width: 50%;
  margin: 0 auto;
}

.header h1 {
  grid-area: h1;
  font: 75pt var(--font-family), sans-serif;
  text-transform: uppercase;
  line-height: 57pt;
  text-align: right;
  font-weight: var(--font-bold);
}

.header h2 {
  grid-area: h2;
  font: 11pt var(--font-family), sans-serif;
  text-transform: uppercase;
  line-height: 60pt;
  text-align: right;
  font-weight: var(--font-regular);
}

.header .button {
  grid-area: button;
  display: inline-block;
  width: 150px;
  justify-self: flex-end;
  padding: 0.95rem 1.15rem;
  font: 11pt var(--font-family), sans-serif;
  font-weight: var(--font-bold);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem 1rem;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(
    45deg,
    rgb(230, 0, 187),
    rgb(179, 17, 255)
  );
}

.stories {
  display: flex;
}

.story-wrapper {
  /* background: blue; */
  display: flow-root;
  font-family: var(--font-family);
}

.story img {
  grid-area: img;
  vertical-align: middle;
}

.story {
  /* gradient for border, don't touch */
  background: rgb(28, 30, 32);
  background: linear-gradient(
    180deg,
    rgba(28, 30, 32, 0) 0%,
    rgba(255, 255, 255, 1) 55%,
    rgba(65, 74, 85, 0) 100%
  );
  background-origin: border-box;
  padding: 0 1px 0 1px;
}

.info-wrapper {
  display: grid;
  grid-template-areas: "h2" "h1" "p";
  padding: 1.5rem;
  background-image: url(img/storyBG.png);
  background-image: url(img/storyBG.png),
    linear-gradient(
      180deg,
      rgba(40, 43, 47, 1) 10%,
      rgba(40, 43, 47, 1) 100%,
      rgba(40, 43, 47, 0) 100%
    );
  background-repeat: no-repeat;
  /* background: rgb(28, 30, 32);
  background: linear-gradient(
    180deg,
    rgba(28, 30, 32, 0) 0%,
    rgba(40, 43, 47, 1) 10%,
    rgba(40, 43, 47, 1) 10%,
    rgba(40, 43, 47, 0) 100%
  ); */
}

.info-wrapper h1,
h2 {
  padding: 0.35rem 0;
}

.info-wrapper h1 {
  grid-area: h1;
  font-size: 30pt;
  line-height: 30pt;
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

.info-wrapper h2 {
  grid-area: h2;
  font-size: 14pt;
  color: rgb(86, 131, 240);
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

.info-wrapper p {
  grid-area: p;
  padding: 1rem 0;
  hyphens: auto;
  text-transform: uppercase;
  font-size: 11pt;
  color: #97a0aa;
}

.story img {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(40, 43, 47, 1) 10%,
    rgba(40, 43, 47, 1) 100%,
    rgba(40, 43, 47, 0) 100%
  );
}

#story1 {
  margin-top: -5.5rem;
}

#story2 {
  margin-top: -11.5rem;
}

#story3 {
  margin-top: 2.4rem;
}
